<section class="homeAbout">
	<i class="anchor" id="about"></i>
	<div class="homeAbout_part homeAbout_part-text">
		<div class="homeAbout_content">
			<h2 class="heading">Hello!</h2>
			<p>My name is Anton Furuholm and I'm the creator of furuholm.com. I make my living as a web developer. But I also like to go on adventures! For example I went to the US with a friend and 2 bikes and we biked from San Fransisco to Miami. But I'm currently working in Amsterdam at an agency called <a href="http://www.buildinamsterdam.com/" target="_blank">Build in Amsterdam BV</a>.</p>

      <p>I'm from a lovely country called Sweden. Raised in a small town surrounded by green woods and lakes.</p>
			<a href="/about" class="homeAbout_link button-round">Read more</a>
		</div>
	</div>
	<div class="homeAbout_part homeAbout_part-image" style="background-image: url({{ page.aboutImage }})">
	</div>
</section>
